.product {
  border: 1px solid;
  box-shadow: 5px 5px 5px black;
  border-radius: 10px;
  margin-bottom: 10vh;
  padding: 5vh;
  max-width: fit-content;

  margin-right: auto;
  margin-left: auto;
}
.product:hover {
  cursor: pointer;
}
.buttonContainer {
  display: flex;
  justify-content: space-evenly;
}
.colorRed {
  color: red;
}
