.product {
  border: 1px solid;
  box-shadow: 5px 5px 5px black;
  border-radius: 10px;
  margin-bottom: 10vh;
  padding: 5vh;
}
.product:hover {
  cursor: pointer;
  background-color: red;
  color: white;
}
